# SHOULD NOT BE NEEDED ANYMORE, NOW USING AMPLIFY FULLY

# AWS General
NEXT_PUBLIC_AWS_REGION=eu-west-2

# Amplify
NEXT_PUBLIC_AWS_USER_POOLS_ID=eu-west-2_XXxxXXXxx
NEXT_PUBLIC_AWS_USER_POOL_WEB_CLIENT_ID=XxxxxxxXxXXxxxxxxXxXxxxXXXX
# OAuth Domain (found in your User Pool's App Integration > Domain name)
NEXT_PUBLIC_COGNITO_DOMAIN=eu-north-xxxxxxxxxx.auth.eu-north-1.amazoncognito.com
# Redirect URLs (must match what's configured in Cognito)
NEXT_PUBLIC_REDIRECT_SIGN_IN=http://localhost:3000/
NEXT_PUBLIC_REDIRECT_SIGN_OUT=http://localhost:3000/

# Availability Mode ['RESTRICTED', 'PUBLIC']
AVAILABILITY_MODE=RESTRICTED